[submodule "Arcanist/arcanist"]
	path = Arcanist/arcanist
	url = https://github.com/paladox/arcanist.git
	branch = .
[submodule "Arcanist/libphutil"]
	path = Arcanist/libphutil
	url = https://secure.phabricator.com/diffusion/PHU/libphutil.git
	branch = .
